<html>
    <head></head>
    <body>
    <h1> <a href="/artists">ARTIST LIST</a> </h1>
    <h2> <a href="/artists/new">ADD AN ARTIST</a> </h2>
    <h1> <a href="/albums">ALBUM LIST</a>
    <h2> <a href="/albums/new">ADD AN ALBUM</a> </h2>
    </body>
</html>