<html>
    <head>
        <title>New album</title>
    </head>
    <body>
        <h1>Enter an album</h1>
        <form action="/albums" method="POST">
        NAME: <input type='text' name='title'> <br>
        RELEASE YEAR: <input type='number' name='release_year'> <br>
        ARTIST ID: <input type='number' name='artist_id'> <br>

        <input type='submit' value='Submit the form'>
        </form>
    </body>
</html>