<html>
    <head>
        <title>New artist</title>
    </head>
    <body>
        <h1>Enter an artist</h1>
        <form action="/artists" method="POST">
        NAME: <input type='text' name='name'> <br>
        GENRE: <input type='text' name='genre'> <br>

        <input type='submit' value='Submit the form'>
        </form>
    </body>
</html>