<html>
    <head></head>
    <body>
    <h1> <%= @selected_album.title %> </h1>
    <p>
    RELEASED <%= @selected_album.release_year %>
    BY <%= @selected_artist.name %>
    </p>
    </body>
</html>